body {
  background-color: #f9e8c2;
  margin: 20px auto;
  max-width: 650px;
  line-height: 1.6;
  padding: 0 10px;
}

#header {
  text-align: center; 
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 12px 12px 0px 0px; 
}

#header h1 {
  font-size: 2em;
  font-family: 'Helvetica', sans-serif;
  color: #3b2f2c;
  margin: 0;
}

#main-nav {
  float: left;
  width: 100%;
  background-color: #333;
  padding: 5px 0;
}
  
#main-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  left:50%;
}
  
#main-nav ul li {
  float: left;
  position: relative;
  right: 50%;
}
  
#main-nav ul li a {
  padding: 8px 20px;
  display: block;
  text-decoration: none;
  color: #ccc;
}
  
#main-nav ul li a:hover {
  background-color: #ccc;
  color: #333;
}

#center {
  width: 960px;
  text-align: center;
}

.image-a {
  float: right;
  border: 3px black;
  width: 400px;
  padding: 5px;
  margin: 10px 0 10px 20px;
}

#resume-wrapper h2 {
  font-family: 'Helvetica', sans-serif;
    font-size: 1em;
    color: #3b2f2c;
    border-bottom: 2px solid #999; 
    padding-bottom: 30px; 
    margin-bottom: 10px; 
}

#resume-wrapper h2:after {
  content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5; 
    height: 2px;
    background-color: #3b2f2c; 
}

#resume-wrapper p, #resume-wrapper ul {
  margin-bottom: 40px; /* Space between sections */
}